<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Novasur</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['/concurso']" routerLinkActive="active" >Concurso</a>
          <a class="nav-link" [routerLink]="['/envio_ajuste']" routerLinkActive="active" >Envios Y Ajustes</a>
          <a class="nav-link" [routerLink]="['/controlados']" routerLinkActive="active" >Controlados</a>
          <a class="nav-link" [routerLink]="['/rotacion_productos']" routerLinkActive="active" >Rotacion Productos</a>
          <a class="nav-link" [routerLink]="['/consolidados']" routerLinkActive="active" >Consolidado</a>
          <a class="nav-link" [routerLink]="['/KPI']" routerLinkActive="active" >KPI</a>
        </div>
      </div>
    </div>
  </nav>